# Copie ce fichier en Backend/.env ou mets cette variable dans PowerShell.
# Format : postgresql://utilisateur:mot_de_passe@host:port/nom_de_la_base

DATABASE_URL=postgresql://postgres:Admin@localhost:5432/smartpredict
